---
import { normalizeForId } from 'src/utils';

type Props = {
  title: string,
}

const { title } = Astro.props;
---

<div>
  {
    title && <h4 id={normalizeForId(title)}>{title}</h4>
  }
  <slot />
</div>

<style lang="scss" >
  h4 {
    margin-top: 12px;
    margin-bottom: -2px;
    font-size: 17px;
  }

  div {
    margin-top: 1rem;
    border: 1px solid #696969;
    border-radius: 4px;
    padding: 0px 12px;
  }
</style>
