---
import Link from '@components/Link.astro';
import type { ProjectPage } from '@types';

type Props = ProjectPage;

const { page } = Astro.props;
---

<Link href={page.url}>
  <h4>{page.metadata.title}</h4>
</Link>
<p>
  <Fragment set:html={page.metadata.description} />
</p>

<style>
  a {
    display: block;
    padding: 0;
    margin: 0px 0px 10px 0px;
  }
  h4 {
    padding: 0;
    margin: 0;
  }
  p {
    margin-top: 12px;
  }
  li {
    display: inline-block;
    list-style: none;
  }
</style>
